.about {
  &-list {
    margin-bottom: 30px;
  }
  &-item {
    line-height: 21px;
    &:first-of-type {
      margin-bottom: 30px;
    }
  }
  &-text {
    line-height: 21px;
    text-align: justify;
    &__pc {
      display: block;
    }
    &__sp {
      display: none;
    }
  }
  @media screen and (max-width:600px) {
    &-text {
      &__pc {
        display: none;
      }
      &__sp {
        display: block;
      }
    }
  }
}