.news {
  &-list {
    border-top: 1px solid #c8c8c8;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &-date {
    border-bottom: 1px solid #c8c8c8;
    box-sizing: border-box;
    line-height: 21px;
    padding: 15px;
    width: 20%;
  }
  &-title {
    border-bottom: 1px solid #c8c8c8;
    box-sizing: border-box;
    line-height: 21px;
    padding: 15px;
    width: 80%;
  }
  @media screen and (max-width:600px) {
    &-list {
      flex-direction: column;
    }
    &-date {
      border-bottom: none;
      padding-bottom: 0;
      width: 100%;
    }
    &-title {
      padding-top: 0;
      width: 100%;
    }
  }
}